:root {
    font-size: 10px;
}

body {
    margin: 0;
}

.main-container {
    width: 100%;
}

.card-container {

    display: grid;
    margin: auto;
    padding: 27px 45px 33px 28px;
    width: 755px;
    height: 459px;
    box-sizing: border-box;
    background: #FFB084;
    border-radius: 20px;
    grid-template: 117px 101px 50px 13px 62px / 1.32fr 1fr 1fr;
    row-gap: 14px;
    column-gap: 22px;
}

.card {
    box-sizing: border-box;
    padding: 15px 25px;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0px #000000;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.card-title {
    padding-bottom: 7px;
    font-weight: 700;
}

ul {
    margin: 0;
    padding-left: 25px;
}

/* -- about-card -------------------------------------------*/

.about-card {
    grid-row: 1/5;
}

.user-name {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.about-card>div {
    display: flex;
    justify-content: center;
    padding: 17px;
}

.user-img {
    width: 101px;
    height: 101px;
}

.users-data {
    display: grid;
    grid-template: repeat(5, 14px) / 1fr 2.7fr;
    row-gap: 14px;
    column-gap: 19px;
    font-size: 12px;
    line-height: 14px;
}

.users-data>div:nth-child(3),
.users-data>div:nth-child(4),
.users-data>div:nth-child(5),
.users-data>div:nth-child(6) {
    grid-column: 1/3;
}

.data-title {
    font-weight: 600;
}

/* -- quote-card -------------------------------------------*/

.quote-card {
    grid-row: 5;
}

/* -- bio-card ---------------------------------------------*/

.bio-card {
    grid-column: 2/4;
}

/* -- goals-card -------------------------------------------*/

.goals-card {
    box-shadow: 7px 7px 0px #29A71E;
}

.goals-card>.card-title {
    color: #29A71E;
}

/* -- companies-card ---------------------------------------*/

.companies-card {
    grid-row: 3/6;
    box-shadow: 7px 7px 0px #3675B0;
}

.companies-card>.card-title {
    color: #3675B0;
}

/* -- frustration-card -------------------------------------*/

.frustration-card {
    grid-row: 2/4;
    box-shadow: 7px 7px 0px #E13535;
}

.frustration-card>.card-title {
    color: #E13535;
}

/* -- personality-card -------------------------------------*/

.personality-card {
    grid-row: 4/6;
}


/* -- media-queriez --------------------------------------- */

@media screen and (min-height: 500px) {
    .main-container {
        padding-top: calc((100vh - 459px) / 3);
    }
}